packages:
  yum:
    git: []
    postgresql-devel: []
    python3-devel: []
    gcc: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:app
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: "production"
    USE_REAL_AI: "true"
    SESSION_TIMEOUT_MINUTES: "15"
    DATA_RETENTION_YEARS: "7"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

